ml4audio@git+https://github.com/SELMA-project/ml4audio@main#egg=ml4audio
# if pushed changes to ml4audio do cache-bust here! -> docker (buildkit) does not reinstall if this file is not changing!
# datasets # why?
python-levenshtein
beartype==0.11.0
numba==0.53.1
librosa

fastapi #==0.78.0
Flask #==2.1.2
icdiff
torchaudio@https://download.pytorch.org/whl/cpu/torchaudio-0.11.0%2Bcpu-cp39-cp39-linux_x86_64.whl
tqdm
transformers==4.22.1
python-multipart
uvicorn[standard]
omegaconf
nemo_toolkit[asr]==1.11.0
wandb # WTF!! nemo wants it!!
numpy==1.22.0 # see: https://github.com/scikit-learn-contrib/hdbscan/issues/457
hdbscan==0.8.28
joblib==1.1.0
umap_learn==0.5.3