# try not to fix versions here!
misc-utils@git+https://github.com/dertilo/misc-utils@main#egg=misc-utils
transformers
jiwer
beartype
librosa
ffmpeg-python

# TODO: in extras ?
# for turkish see: https://emre.github.io/unicode_tr/
# unicode_tr
